@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  width: 100%;
  position: relative;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.2rem;
}

.game-info-container {
  flex-grow: 1;
  background-color: #e52a5a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
}

.icon-button {
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button .icon {
  fill: white;
}

.reset-button {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.music-button .icon {
  width: 100%;
  height: 100%;
  fill: #e52a5a;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 2.4rem;
}

.card-container {
  width: 60%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 12rem);
  grid-template-rows: repeat(4, 12rem);
  justify-content: space-between;
  align-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.card {
  width: 100%;
  height: 100%;
  perspective: 100rem;
  position: relative;
}

.bubbles {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  transition: all 0.2s;
}

.first-bubble {
  width: 70%;
  height: 70%;
  left: -10%;
  top: -10%;
}

.second-bubble {
  width: 30%;
  height: 30%;
  right: -5%;
  top: -5%;
}

.third-bubble {
  width: 50%;
  height: 50%;
  right: -10%;
  bottom: -10%;
}

.forth-bubble {
  width: 20%;
  height: 20%;
  left: -5%;
  bottom: -5%;
}

.back-faces {
  overflow: hidden;
}

.card.show .back-faces {
  transform: rotateY(180deg);
}

.card.show .front-faces {
  transform: rotateY(0deg);
}

.card.disabled {
  pointer-events: none;
}

.card-faces {
  width: inherit;
  height: inherit;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  transition: all 0.5s;
  box-shadow: 1.2rem 1.2rem 4rem rgba(0, 0, 0, 0.1), -1.2rem -1.2rem 4rem rgba(0, 0, 0, 0.1);
}

.back-faces:hover .first-bubble {
  left: -20%;
  top: -20%;
}

.back-faces:hover .second-bubble {
  right: -10%;
  top: -10%;
}

.back-faces:hover .third-bubble {
  right: -20%;
  bottom: -20%;
}

.back-faces:hover .forth-bubble {
  left: -10%;
  bottom: -10%;
}

.back-faces:active {
  transform: translateY(1rem);
}

.front-faces {
  background-color: white;
  transform: rotateY(-180deg);
}

.display {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 2.4rem;
  gap: 2rem;
}

.timer {
  flex-grow: 1;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  position: relative;
  overflow: hidden;
  padding: 0.8rem 2.4rem;
  border-radius: 2.4rem;
}

.time-indicator {
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
}

.btn {
  width: fit-content;
  border: 0;
  outline: 0;
  padding: 0.8rem 2.4rem;
  border-radius: 2.4rem;
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  color: white;
}

.card-icon {
  font-size: 4.5rem;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.modal {
  width: 50%;
  padding: 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 2.4rem;
  z-index: 20;
  color: white;
  position: relative;
  overflow: hidden;
}

.start-game-model {
  background-image: linear-gradient(to right bottom, #3200ff, #7700ff);
}

.modal-first-bubble {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.2);
  position: absolute;
  right: -10%;
  top: -10%;
  z-index: -1;
}

.modal-second-bubble {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #ffffff33;
  position: absolute;
  left: -10%;
  bottom: -10%;
  z-index: -1;
}

.name {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  background-color: #00000033;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  color: white;
}

.name::-webkit-input-placeholder {
  color: white;
  font-weight: 400;
}

.win-game-modal {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.lose-game-modal {
  background-image: linear-gradient(to right bottom, #ff0000, #d43f9b);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.hidden {
  display: none;
}

@media (max-width:1250px) {
  html {
    font-size: 8px;
  }

  .main {
    align-items: center;
    flex-direction: column-reverse;
    padding: 0 4.6rem;
  }

  .card-container {
    width: 100%;
    height: 80vh;
    grid-template-columns: repeat(6, 11.5rem);
    grid-template-rows: repeat(4, 11.5rem);
  }

  .display {
    width: 100%;
    padding: 0;
    margin-bottom: 2.4rem;
  }

  .modal {
    width: 80%;
  }
}

@media (max-width:650px) {

  .main {
    padding: 0 1.6rem;
  }

  .card-container {
    grid-template-columns: repeat(4, 9.5rem);
    grid-template-rows: repeat(6, 9.5rem);
  }

  .modal {
    width: 100%;
  }
}